<div class="responsive-container">
  <div class="page-content">
    <div class="form-v10-content">
      <form class="form-detail" action="#" method="post" id="myform">
        <div class="form-left">
          <h2>Register as Partner </h2>
          <div class="form-row form-row-2">
            <input type="text" name="partnerid" id="partnerid" class="input-text" placeholder="Partner Id" required="">
          </div>
          <!-- <div class="form-row">
                      <select name="title">
                          <option class="option" value="title">Title</option>
                          <option class="option" value="Mr.">Mr.</option>
                          <option class="option" value="Miss">Miss</option>
                          <option class="option" value="Mrs.">Mrs.</option>
                      </select>
                      <span class="select-btn">
                          <svg xmlns="http://www.w3.org/2000/svg" width="0.67em" height="1em" viewBox="0 0 256 384"><path fill="currentColor" d="m226 119l30 30l-128 128L0 149l30-30l98 98z"/></svg>
                      </span>
                  </div> -->
          <div class="form-group">
            <div class="form-row form-row-1">
              <input type="text" name="first_name" id="first_name" class="input-text" placeholder="First Name"
                required="">
            </div>
            <div class="form-row form-row-2">
              <input type="text" name="last_name" id="last_name" class="input-text" placeholder="Last Name" required="">
            </div>
          </div>
          <!-- <div class="form-row form-row-2">
                      <input type="text" name="email" id="email" class="input-text" placeholder="Email"                            required="">
                  </div> -->
          <div class="form-row">
            <select name="Business Category">
              <option value="Category1">Business Category</option>
              <option value="Category2">Business Category2</option>
              <option value="Category3">Business Category3</option>
              <option value="Category">Business Category4</option>
            </select>
            <span class="select-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="0.67em" height="1em" viewBox="0 0 256 384">
                <path fill="currentColor" d="m226 119l30 30l-128 128L0 149l30-30l98 98z" />
              </svg>
            </span>
          </div>
          <!-- <div class="form-row">
                      <input type="text" name="company" class="company" id="company" placeholder="Company" required="">
                  </div> -->

          <div class="form-group">
            <!-- <div class="form-row form-row-3">
                          <input type="text" name="business" class="business" id="business" placeholder="Business Arena"
                              required="">
                      </div> -->
            <!-- <div class="form-row form-row-4">
                          <select name="employees">
                              <option value="employees">Employees</option>
                              <option value="trainee">Trainee</option>
                              <option value="colleague">Colleague</option>
                              <option value="associate">Associate</option>
                          </select>
                          <span class="select-btn">
                              <svg xmlns="http://www.w3.org/2000/svg" width="0.67em" height="1em" viewBox="0 0 256 384"><path fill="currentColor" d="m226 119l30 30l-128 128L0 149l30-30l98 98z"/></svg>
                          </span>
                      </div> -->
          </div>
          <div class="form-row">
            <input type="text" name="your_email" id="your_email" class="input-text" required=""
              pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" placeholder="Your Email">
          </div>
        </div>
        <div class="form-right">
          <h3>Contact Details</h3>
          <div class="form-row">
            <input type="text" name="street" class="street" id="street" placeholder="Street + Nr" required="">
          </div>
          <div class="form-row">
            <input type="text" name="additional" class="additional" id="additional" placeholder="Additional Information"
              required="">
          </div>
          <div class="form-group">
            <div class="form-row form-row-1">
              <input type="text" name="zip" class="zip" id="zip" placeholder="Zip Code" required="">
            </div>
            <div class="form-row form-row-2">
              <select name="place" required="">
                <option value="place">Place</option>
                <option value="Street">Street</option>
                <option value="District">District</option>
                <option value="City">City</option>
              </select>
              <span class="select-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="0.67em" height="1em" viewBox="0 0 256 384">
                  <path fill="currentColor" d="m226 119l30 30l-128 128L0 149l30-30l98 98z" />
                </svg>
              </span>
            </div>
          </div>
          <!-- <div class="form-row"> -->
          <div class="form-group">
            <div class=" form-row form-row-1">
              <!-- <input type="text" name="code" class="code" id="code" placeholder="Code +" required=""> -->
              <select name="country" required="">
                <option value="country">Country</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Malaysia">Malaysia</option>
                <option value="India">India</option>
              </select>
              <span class="select-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="0.67em" height="1em" viewBox="0 0 256 384">
                  <path fill="currentColor" d="m226 119l30 30l-128 128L0 149l30-30l98 98z" />
                </svg>
              </span>
            </div>
            <div class="form-row form-row-2">
              <select name="Country Code" required="">
                <option value="+91">+91</option>
                <option value="+44">+44</option>
                <option value="+11">+11</option>
                <option value="+52">+52</option>
              </select>
              <span class="select-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="0.67em" height="1em" viewBox="0 0 256 384">
                  <path fill="currentColor" d="m226 119l30 30l-128 128L0 149l30-30l98 98z" />
                </svg>
              </span>
            </div>
          </div>
          <!-- <div class="form-row form-row-1">
                      <select name="country">
                          <option value="country">Country</option>
                          <option value="Vietnam">Vietnam</option>
                          <option value="Malaysia">Malaysia</option>
                          <option value="India">India</option>
                      </select>
                      <span class="select-btn">
                          <svg xmlns="http://www.w3.org/2000/svg" width="0.67em" height="1em" viewBox="0 0 256 384"><path fill="currentColor" d="m226 119l30 30l-128 128L0 149l30-30l98 98z"/></svg>
                      </span>
                      </div>-->
          <!-- </div> -->
          <!-- <div class="form-group"> -->
          <!-- <div class="form-row form-row-1">
                          <input type="text" name="code" class="code" id="code" placeholder="Code +" required="">
                      </div> -->
          <div class="form-row">
            <input type="text" name="phone" class="phone" id="phone" placeholder="Phone Number" required="">
          </div>
          <!-- </div> -->
          <!-- <div class="form-row">
                      <input type="text" name="your_email" id="your_email" class="input-text" required=""
                          pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" placeholder="Your Email">
                  </div> -->
          <div class="form-checkbox">
            <label class="container">
              <input type="checkbox" name="checkbox" required="">
              <span class="checkmark"></span>
              <p>I do accept the <a href="#" class="text">Terms and Conditions</a> of your site.</p>
            </label>
          </div>
          <!-- <input type="checkbox" name="checkbox" required="">
            <p>I do accept the <a href="#" class="text">Terms and Conditions</a> of your site.</p> -->

          <div class="form-row-last">
            <input type="submit" name="register" class="register" value="Register">
          </div>
        </div>
      </form>
    </div>
  </div>

</div>